@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Shop2City.Core.DTOs.ShopCart.ShopCartShowViewModel>
@{
    ViewData["Title"] = "سبد خرید";
}
<div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
        <li><a class="active">سبد خرید</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
        @if (Model.Any())
        {
                    <!--Middle Part Start-->
            <div id="content" class="col-lg-12">
                <div class="table-responsive"> 
                    <h1 class="title">سبد خرید</h1>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td class="text-left">نام محصول</td>
                                <td class="text-left">تعداد</td>
                                 <td></td>
                                <td class="text-right">قیمت واحد</td>
                                <td class="text-right">مجموع</td>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*   <td class="text-center"><a href="/ShowProduct/@item.productId"><img src="/images/products/thumb/@item.productImage" alt="@item.productTitleFa" title="@item.productTitleEn" class="img-responsive" width="50px" height="50px" /></a></td>*@
                                    <td class="text-left">
                                        <a href="/ShowProduct/@item.productId">@item.productTitleFa</a><br/>
                                    </td>
                                    <td>
                                        <select id="count" name="count">
                                            @for (int i = 1; i <= @item.productGuantity; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>

                                    </td>
                                    <td class="text-left">
                                        <div class="input-group btn-block quantity">
                                            <a class="btn btn-sm btn-danger" onclick="DeleteItem(@item.productId)"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                    <td class="text-right" id="Price">@item.Price.ToString("#,0 ریال")</td>
                                        <td class="text-right" id="totalPrice">@item.Price.ToString("#,0 ریال")</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-8">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="text-right"><strong>جمع کل:</strong></td>
                                    <td class="text-right">@Model.Sum(s => s.productSum).ToString("#,0 ریال")</td>
                                </tr>
                                <tr>
                                    <td class="text-right"><strong>قابل پرداخت :</strong></td>
                                    <td class="text-right">@Model.Sum(s => s.productSum).ToString("#,0 ریال")</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="pull-left btn btn-lg"><a asp-controller="Products" asp-action="BuyProduct" class="btn btn-primary">تایید فاکتور</a></div>
                        <div class="pull-right"><a asp-controller="Home" asp-action="Index" class="btn btn-default">بازگشت</a></div>
                    </div>
                </div>
            </div>
          
                    <!--Middle Part End -->
        }
        else
        {
                    <div>
                        <p>سبد خرید شما خالی است.</p>
                    </div>
                    <div class="buttons">
                        <div class="pull-left"><a asp-controller="Home" asp-action="Index" class="btn btn-default">ادامه خرید</a></div>
                    </div>

        }
    </div>

</div>