@model OrderModel
@{
    ViewData["Title"] = "سبد خرید";
    var typePosts = ViewData["TypePost"] as List<TypePost>;
    int num = 1;
    int orderId = Model.Id;
    decimal sumOrder = 0;
    if (Model == null)
    {
        sumOrder = 0;
    }
    else
    {
        sumOrder = Model.TotalCost;
    }
    string discountType = ViewBag.typeDiscount.ToString();

}
<div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
        <li><a href="#" title="سبد خرید">سبد خرید</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
        <!--Right Part Start -->
        <partial name="_SideBar" />
        <!--Right Part End -->
        <!--Middle Part Start-->
        <div class="col-sm-9" id="content">
            <h1 class="title">سبد خرید</h1>
            @if (ViewBag.finaly == true)
            {
                <div class="alert alert-success">
                    فاکتور با موفقیت پرداخت گردید
                </div>
            }
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>نام محصول</th>
                        <th>ارتفاع - عرض</th>
                        <th>تعداد</th>
                        <th>قیمت</th>
                        <th>جمع</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <tr>
                            <td>
                                پرده @item.Order.OrderCategory.Title / @item.Order.OrderSubCategory.Title
                            </td>
                            <td>
                                h: @item.Order.Height - w: @item.Order.Width
                            </td>
                            <td>
                                @item.Order.Count
                            </td>
                            <td>@item.Order.Cost.ToString("#,0 ریال")</td>
                            <td>
                                @item.Order.TotalCost.ToString("#,0 ریال")
                            </td>
                        </tr>
                        num++;
                    }
                    <tr>
                        <td colspan="1" class="text-left">
                            نحوه ارسال :
                        </td>
                        <td colspan="5">
                            <div class="radio-groups">
                                @foreach (var typePost in typePosts)
                                {
                                    <input class="form-check-input" style="margin-right:25px" type="radio" name="selection" id="typePost.TypePostId" value="@typePost.TypePostId">
                                    <label class="form-check-label">@typePost.TypePostTitle</label>

                                }
                            </div>
                        </td>
                    </tr>
                    @if (!Model.IsFinaly)
                    {
                        <tr>
                            <td colspan="1" class="text-left">
                                کد تخفیف :
                            </td>
                            <td colspan="4" class="col">
                                <form action="/UserPanel/Orders/UseDiscount" method="post">
                                    <input type="hidden" name="orderid" value="@Model.Id" />
                                    <input type="text" name="code" class="form-control" inputmode="numeric" />
                                    <input type="submit" class="btn btn-primary btn-block" style="margin-top: 5px" value="اعمال" />
                                </form>
                                @if (discountType != "")
                                {
                                    switch (discountType)
                                    {
                                        case "Success":
                                            {
                                                <div class="alert alert-success">
                                                    <p class="text-muted">کد با موفقیت اعمال شد</p>
                                                </div>
                                                break;
                                            }

                                        case "NotFound":
                                            {
                                                <div class="alert alert-warning">
                                                    <p class="text-muted">کد معتبر نیست</p>
                                                </div>
                                                break;
                                            }
                                        case "Finished":
                                            {
                                                <div class="alert alert-danger">
                                                    <p class="text-muted">کد به اتمام رسیده است</p>
                                                </div>
                                                break;
                                            }
                                        case "UserUsed":
                                            {
                                                <div class="alert alert-info">
                                                    <p class="text-muted">این کد قبلا توسط شما استفاده شده است</p>
                                                </div>
                                                break;
                                            }
                                    }
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                    <tr>
                        <td colspan="3" class="text-left">جمع کل : </td>
                        <td colspan="3" class="bg bg-success text-center">
                                @sumOrder.ToString("#,0 ریال")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">

            <div class="col-sm-6 col-sm-offset-6">
                <table class="table table-bordered">
                    <tr>
                        <td class="text-right"><strong>جمع:</strong></td>
                        <td class="text-right"> @sumOrder.ToString("#,0 ریال")</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>هزینه بسته بندی و ارسال:</strong></td>
                        <td class="text-right bold">
                            <span class="bold" id="PricePost"> 0 </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>قابل پرداخت :</strong></td>
                        <td class="text-right" id="totalPrice"></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button class="btn btn-success btn-block" id="postButton">پرداخت آنلاین</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts
{

    <script>
        var number = @sumOrder
            $(document).ready(function () {
                $(".radio-groups").each(function () {
                    $(this).find("input[type='radio']").first().prop('checked', true);
                });
                $("#totalPrice").text(number.toLocaleString() + " تومان ");
            });
        $("input:radio[name=selection]").click(function () {

            var value = $(this).val();
            $.ajax({
                type: "get",
                url: "/Home/GetPricePostByOrder?typePostId=" + value

            }).done(function (result) {
                var number = result + @sumOrder
                $("#PricePost").html(result.toLocaleString() + " تومان ");
                $("#totalPrice").html(number.toLocaleString() + " تومان ");
            });
        });

        $('#postButton').click(function () {
            var Id = @orderId
                    const dataToSend = {
                sumOrder: number,
                invoiceId: Id,
                source: "order"
            };
            $.ajax({
                url: '/Payment/ProcessPayment',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(dataToSend),
                success: function (response) {
                    if (response.success) {
                        // هدایت به URL بازگشتی از سرور
                        window.location.href = response.redirectUrl;
                    } else {
                        alert(response.message); // نمایش پیام خطا در صورت عدم موفقیت
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("An error occurred while sending the request.");
                }
            });
        });
    </script>
}